server:
  port: 8080


zuul:
  sensitiveHeaders: Cookie,Set-Cookie
  routes:
    resource-service:
      path: /api/**
      url: http://localhost:8080
    oauth-service:
      path: /oauth/**
      url: http://localhost:8081
      stripPrefix: false

jwt:
  public-key:
    path: zuul/public-key
